.hero-slider {
  position: relative;
  width: 100%;
  height: 50vh; /* Adjust as needed */
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 10px;
}

.hero-slide {
  position: relative;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  text-align: center;
}

.hero-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero-button {
  background-color: #2563eb; /* Blue */
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.hero-button:hover {
  background-color: #1e3a8a; /* Darker blue */
}

  /* Responsive Adjustments */
  /* @media (max-width: 768px) {
    .hero-slider {
      height: 50vh;
    }
  } */